.navbar{
        height : 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
}

.darkmode{
        width: 60px;
        height: 25px;
        border-radius: 50px;
        border: none;
        display: flex;
        transition: all 0.3s ease-in-out;

        img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
        }

}

.slide-right{
        animation: move-right 0.3s linear forwards; ;
}

.slide-left{
        animation: move-left 0.3s linear forwards; ;
}

@keyframes move-left{
        0%{
                transform: translateX(35px);
        }
        100%{
                transform: translateX(0);
        }
}

@keyframes move-right{
        0%{
                transform: translateX(0);
        }
        100%{
                transform: translateX(35px);
        }
}

